body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: tan;
  padding: 2%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: olive;
}

nav li {
  list-style: none;
  padding: 2%;
}

nav li a {
  font-size: 1rem;
  text-decoration: wavy;
  color: white;
}

nav li:hover a {
  color: sienna;
}