body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: tan;
  padding: 2%;
  max-width: 900px;
  margin: auto;
}

h1 {
  font-size: 3rem;
}

li {
  list-style: none;
  padding: 2%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: olive;
}

nav li a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

nav ul li:hover {
  background-color: sienna;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
  display: none;
}

.message {
  font-size: 2rem;
  color:darkolivegreen;
  text-decoration: double;
  text-align: center;
}

.essentials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}