div:hover {
    font-weight: bold;
}

.div1 {
    font-size: 20px;
    background-color: rebeccapurple;
}

.div2 {
    font-size: 50px;
    background-color: brown;
}

.div3 {
    font-size: 30px;
    background-color: aquamarine
}